body {
    background-color: lightblue;
    font-style: italic;
	font-weight: bold;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	text-transform: uppercase;
}
#header {
    width: 100%;
    text-align: center;
    margin: 25px 0px;
}
#game-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
}
#game {
    border: 1px solid #000;
}
.row {
    display: flex;
}
.tile {
    width: 15vh;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    background-color: #FFF;
    font-size: 24px;
}
#game-controller {
    margin: 25px 0px;
    width: 100%;
    justify-content: center;
    display: flex;
}
.game-display-info {
    margin: 0px 20px;
    padding: 10px 20px;
    background-color: #FFF;
}
#restart-game-btn {
    cursor: pointer;
}
.notify {
    padding: 20px 10px;
    text-align: center;
    margin-bottom: 25px;
}
#won-game-notify {
    background-color: lightgreen;
    color: #FFF;
}
#lost-game-notify {
    background-color: red;
    color: #FFF;
}
#instructions-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#instructions {
    text-align: center;
    width: 75%;
}
